<% @title = t('.title') %>

<div class="js-security-keys" data-options="<%= @credential_options.to_json %>">
</div>

<div class="t-body l-overflow">
  <%= form_tag security_key_path, method: :post, class: 'js-form' do %>
    <div class="text_field">
      <%= label_tag :nickname, 'Security Key Nickname', class: 'form__label' %>
      <p class='form__field__instructions'>Type nickname for security key.</p>
      <%= text_field_tag :nickname, '', class: 'form__input', autocomplete: :off %>
    </div>
    <%= hidden_field_tag :data, '' %>
  <% end %>
  <button class="form__submit js-register" type="button">Register</button>
</div>
